.boxing {
    border: 1px grey;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    -webkit-box-shadow: 10px 10px 35px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 35px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 35px -14px rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
  }